*{
    margin: 0;
    padding: 0%;
}


.navbar{
    
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: rgba(102, 102, 102, 0.922);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  
}


.logo{

    margin-left: 40px;

}


.home{

    color: white;
    display: flex;
    margin-right: 60px;
    gap: 25px;

}


.a1:hover{
    color: rgb(148, 115, 62);
    cursor: pointer;
}


.restro{

    width: 100%;
    height: 800px;
    margin-top: 150px;
}


.container{

    width: 100%;
    display: flex;
    justify-content: ;
    align-items: ;
}


.a2{
    width: 50%;

   

}


.a3{

   font-family: "Pinyon Script", cursive;
   font-size: 90px;
   color:#f5b654;
   padding-top: 150px;
   padding-left: 50px;
   letter-spacing: 2px;
   
  
}


.a4{

    text-transform: uppercase;
    font-size: 30px;
    padding-left: 40px;
    letter-spacing: 3px;

    
}


.dash{
    padding-left: 45px;
    padding-top: 40px;
}


.para{
    padding-left: 45px;
    letter-spacing: 1px;
    padding-top: 40px;
    font-size: 25px;
    color: #777777;

}

.img1{

    width: 80%; 
    height:auto;
    padding-top: 150px;
    padding-left: 70px;
    
    

}


.img2{

    width: 80%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 150px;
    padding-left: 70px;
    
}


.shadow{
    
}


.a5{

    width: 50%;
}


.chefdetails{
    display: flex;
    gap: 100px;
}


.chefimg{

    
    padding-left: 45px;
    border-radius: 100%;
    padding-top: 80px;
}


.chefname{
    font-size:40px ;
    padding-top: 150px;
}


.imgcontainer{

    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}
.img3{

    width: 100%;
    height: 800px;
    filter: blur(3px);
    
}


.imgtxt{

    font-size: 90px;
    font-family: "Pinyon Script", cursive;
    color: white;
    position: absolute;
    top: 50%;
    left: 20%;
    top: 200px;
}


 .imglogo{ 

    position: absolute;
    top: 400px;
    left: 550px;
    /* background-color: black; */
    width: 30px;
    height: 30px;
} 


.service{


    display: flex;
    justify-content: center;

    
}

.s4{

    font-family: "Pinyon Script", cursive;
    color:#f5b654;
    font-size: 90px;
}









.services {
    text-align: center;
    padding: 40px 20px;
}

.serv {
    color: #f5b654;
    font-size: 70px;
    font-family: 'Georgia', serif;

    font-weight: normal;
}

.our {
    color:black;
    letter-spacing: 1px;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 600;
}

.line {
    width: 80px;
    height: 3px;
    background: #f5b654;
    margin: 0 auto 30px auto;
    border-radius: 2px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.card {
    background:white;
    border: 1px solid #f5b654;
    border-radius: 5px;
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 0px 15px gold;
    transition: transform 0.3s ease;
    
}

.card:hover{

    transform: translateY(-5px);    
}

.card img {
    max-width: 140px;
    max-height: 120px;
    object-fit: contain;
}

.name{

    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;*/
    position: absolute;
    margin-top: 25%;
    
} 


.table{

    width: 100%;
    height: 800px;
     filter: blur(3px);
}


.imgtxt1{

    font-size: 90px;
    font-family: "Pinyon Script", cursive;
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    top: 150px;
}

.imgtxt2{

    font-size: 45px;
    font-family: "Pinyon Script", cursive;
    color: #f5b654 ;
    position: absolute;
    top: 50%;
    left: 33%;
    top: 300px;
}


.counter-container {
    position: absolute;
    top: 60%;
    left: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box {
    text-align: left;
    color:#f5b654  ;
}

.box2 {
    text-align: left;
    color:#f5b654  ;
    position: absolute;
    top: 60%;
    left: 300px;
}

.box3 {
    text-align: left;
    color:#f5b654  ;
    position: absolute;
    top: 60%;
    left: 550px;
}

.box4 {
    text-align: left;
    color:#f5b654  ;
    position: absolute;
    top: 60%;
    left: 780px;
}


.badadiv{
    
}


.menu{

    padding-top: 150px;
     color: #f5b654;
    font-size: 70px;
    font-family: "Pinyon Script", cursive;
    font-weight: normal;
    padding-left: 400px;
    
}

.ore{

    color:black;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 600;
    padding-left: 550px ;
    padding-top: 10px;
}









.menu-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 60px #f5b654 ;
}

.menu-row {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 28px;
}

.menu-item {
    background: #f5f5f5;
    flex: 1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 18px 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.03);
    position: relative;
}

.menu-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 22px;
    border: 2px solid #efefef;
}

.dishtxt {
    flex: 2;
}

.dishtxt h3 {
    margin: 0 0 6px 0;
    font-size: 1.15em;
    letter-spacing: 0.01em;
    color: #2d2926;
}

.dishtxt p {
    margin: 0;
    font-size: 0.97em;
    color: #959595;
    letter-spacing: 0.01em;
}

.price {
    font-size: 1.2em;
    font-weight: 600;
    color: #b27b36;
    position: absolute;
    right: 24px;
}







/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
} */

 body{
    /* background:#000; */
    /* background: url(restro\ pic\ 4.jpg); */
} 

.bg{
    margin-top: 150px;
    width:100%;
    min-height:800px;
    background:url('restro\ pic\ 5.jpg'); change this to your background image
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.overlay{
    width:80%;
    text-align:center;
    /* color:#fff; */
}

.title{
    font-size:60px;
    font-family: "Playfair Display", serif;
    font-weight:600;
    color:#f5b654  ;
}

.subtitle{
    margin-top:10px;
    letter-spacing:2px;
    font-size:22px;
    text-transform:uppercase;
    font-weight:600;
}

.booking-form{
    margin-top:40px;
    width:100%;
}

.row{
    width:100%;
    display:flex;
    gap:60px;
    margin-bottom:40px;
}

.in{
    width:80%;
    padding:15px 18px;
    font-size:16px;
    border:none;
    outline:none;
    border-radius:4px;
    /* background:#f1f1f1; */
}

.submitbtn{
    background:#d4a755;
    border:none;
    padding:12px 40px;
    color:#fff;
    font-size:18px;
    font-weight:600;
    border-radius:4px;
    cursor:pointer;
}

.submitbtn:hover{
    opacity:0.9;
    box-shadow: 2px 2px 2px ;
}